{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}


{% block content %}
    <!-- Cover Picture and Introduction -->
    <section>
        <h2 class="sr-only">Cover Picture</h2>

        <!-- Cover Picture -->
        <div class="row no-gutters hero-image">
            <div class="col-12 hero-text">
                <a href="{% url 'products' %}" class="btn btn-lg"> <span>Donate</span> </a>
            </div>
        </div>

        <!-- Introduction -->
        <div class="row no-gutters org-land-presentation content-alignment my-5">
            <div class="col-10 col-lg-6 text-center">
                <p>
                    The Good Samaritan is a non profit organization for humanitarian support.
                    Our target is support orphan children, widows, disabled people and elderly.
                </p>
                <p>
                    Please donate to The Good Samaritan Organization
                    to support people in Mozambique to have a more dignified life.
                </p> 
            </div>
        </div>

    </section>

    <hr>

    <!-- Support Options -->
    <section>
        <h2 class="sr-only">Support Options</h2>
        <div class="row no-gutters support-options content-alignment">

            <!-- Section Title -->
            <div class="col-12 text-center mb-5">
                <h2>Ways You Can Support</h2>
            </div>

            <!-- Family Parcel Option -->
            <div class="col-12 col-md-4 col-lg-4 mx-5 mt-1">
                <div class="row no-gutters content-alignment">
                    <a href="">
                        <div id="family-parcel-card" class="col-12"></div>
                    </a>
                </div>
                <div class="row no-gutters text-center my-3">
                    <div class="col-12">
                        <h3 class="font-weight-bold">Family Parcel</h3>
                    </div>
                </div>
                <div class="row donate-btn no-gutters text-center my-3">
                    <div class="col-12">
                        <a href="{% url 'parcels' %}" class="btn btn-outline-danger">
                        Donate <span class="first-heart"><i class="far fa-heart"></i></span><span class="second-heart"><i class="fas fa-heart"></i></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Sponsorship Option -->
            <div class="col-12 col-md-4 col-lg-4 mx-5 mt-1">
                <div class="row no-gutters content-alignment">
                    <a href="">
                        <div id="sponsorship-card" class="col-12"></div>
                    </a>
                </div>
                <div class="row no-gutters text-center my-3">
                    <div class="col-12">
                        <h3 class="font-weight-bold">Sponsorship</h3>
                    </div>
                </div>
                <div class="row donate-btn no-gutters text-center my-3">
                    <div class="col-12">
                        <a href="{% url 'sponsorship' %}" class="btn btn-outline-danger">
                        Donate <span class="first-heart"><i class="far fa-heart"></i></span><span class="second-heart"><i class="fas fa-heart"></i></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Most-Needed Option -->
            <div class="col-12 col-md-4 col-lg-4 mx-5 mt-1">
                <div class="row no-gutters content-alignment">
                    <a href="">
                        <div id="most-needed-card" class="col-12"></div>
                    </a>
                </div>
                <div class="row no-gutters text-center my-3">
                    <div class="col-12">
                        <h3 class="font-weight-bold">Most-Needed Items</h3>
                    </div>
                </div>
                <div class="row donate-btn no-gutters text-center my-3">
                    <div class="col-12">
                        <a href="{% url 'products' %}?urgent=most_needed" class="btn btn-outline-danger">
                        Donate <span class="first-heart"><i class="far fa-heart"></i></span><span class="second-heart"><i class="fas fa-heart"></i></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- All Products Option -->
            <div class="col-12 col-md-4 col-lg-4 mx-5 mt-1">
                <div class="row no-gutters content-alignment">
                    <a href="{% url 'products' %}">
                        <div id="all-products-card" class="col-12"></div>
                    </a>
                </div>
                <div class="row no-gutters text-center my-3">
                    <div class="col-12">
                        <h3 class="font-weight-bold">All Products</h3>
                    </div>
                </div>
                <div class="row donate-btn no-gutters text-center my-3">
                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn btn-outline-danger">
                        Donate <span class="first-heart"><i class="far fa-heart"></i></span><span class="second-heart"><i class="fas fa-heart"></i></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <hr>
    
    <!-- Facts About Mozambique Timeline -->
    <section class="timeline">
        <h2 class="sr-only">Facts</h2>
        <div class="row no-gutters">
            
            <!-- Timeline Title -->
            <div class="col-12 text-center">
                <h2>Facts About Mozambique</h2>
            </div>

             <!-- Timeline -->
            <div class="col-12">

                <!-- Fact image, text and resource link -->
                <ul>
                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact1.jpg" alt="Fact 1">
                            <q>Nearly a million people are hungry in Mozambique, UN warns.</q>
                            <p>
                                <a class="timeline-links" href="https://www.publico.pt/2021/04/13/mundo/noticia/quase-milhao-pessoas-passam-fome-mocambique-alerta-onu-1958424" target="_blank" rel="external">
                                    - Publico
                                </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact2.jpg" alt="Fact 2">
                            <q>
                                Orphans are also among the most vulnerable in Mozambique, 
                                where the number of orphans who have lost one or both parents is estimated to 
                                be 2 million. Another 700,000 children are at risk of being abandoned because 
                                their caregivers are elderly, HIV in the family and/or deteriorating 
                                socio-economic circumstances.
                            </q>
                            <p>
                                <a class="timeline-links" href="https://www.unicef.org/mozambique/protec%C3%A7%C3%A3o-da-crian%C3%A7a" target="_blank" rel="external">
                                    - Unicef
                                </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact3.jpg" alt="Fact 3">
                            <q>The widowhood leaves women even more vulnerable, 
                                leading them to instability that has various implications, such as their social 
                                exclusion and that of their children, the breakdown and disintegration of the 
                                family fabric, social discrimination, among other factors.
                            </q>
                            <p>
                                <a class="timeline-links" href="https://www.wlsa.org.mz/artigo/estrategias-de-sobrevivencia-de-um-grupo-de-viuvas-organizadas-em-associacao-cidade-de-maputo-2008/" target="_blank" rel="external">
                                    - wlsa.org
                                </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact4.jpg" alt="Fact 4">
                            <q>
                                Rejected by their own family, some elderly people are forced to live on the 
                                streets or in shelters. A situation that has been getting worse. In 2016 
                                alone, the police registered hundreds of cases of abandoned elderly people.
                            </q>
                            <p>
                                <a class="timeline-links" href="https://www.dw.com/pt-002/ser-idoso-em-mo%C3%A7ambique-%C3%A9-um-pesadelo/a-38665038" target="_blank" rel="external">
                                    - Deutsche Welle
                                </a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact5.jpg" alt="Fact 5">
                            <p>
                                Since 2016, The Good Samaritan has been feeding orphan children, providing a home and education to 
                                change their reality and give a good future for these children. 
                            </p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact6.jpg" alt="Fact 6">
                            <p>
                                Welcoming widows in the project, giving them a profession, food and a 
                                dignified way to live in a society that generally despises them.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="{{ MEDIA_URL }}home/fact7.jpg" alt="Fact 7">
                            <p>
                                And taking care of elderly, giving them medical care, food and home.
                            </p>
                        </div>
                    </li>

                </ul>
                
            </div>
        </div>
    </section>

      {% block postloadjs %}
        <script src="{% static 'home/js/script.js' %}"></script>
      {% endblock %}
{% endblock %}