<!-- Urgent Buttons -->
<div class="row no-gutters my-5 d-md-none">

    <!-- Most-Needed Items Button -->
    <div class="col-6 text-center">
        <a class="btn btn-danger btn-shadow" href="{% url 'products' %}?urgent=most_needed" aria-label="go to most needed items">Most-Needed</a>
    </div>
    
    <!-- Family Parcels Button -->
    <div class="col-6 text-center">
        <a class="btn btn-danger btn-shadow" href="{% url 'parcels' %}" aria-label="go to family parcels">Family Parcels</a>
    </div>
    
    <!-- Donate All Items Button -->
    <div class="col-12 mt-5 text-center">
        {% if not all_p %}
            <form action="{% url 'add_all_cart' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <input type="hidden" name="items_list" value="{{ all_items }}">
                <input type="submit" class="btn btn-danger mr-2 btn-shadow" value="Donate All Items {% if total_price %}(${{total_price}}){% else %}($0.00){% endif %}">
            </form>
        {% endif %}
    </div>

</div>