{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="row no-gutters mt-5 profile-content">
        
        <!-- Page Title -->
        <div class="col-12 text-center profile-title">
            <h1 class="font-weight-bold">My Profile</h1>
        </div>
        
        <!-- Horizontal rule -->
        <div class="col-12">
            <hr>
        </div>

        <!-- Profile User Name -->
        <div class="col-12 text-center">
            <h4 class="font-weight-bold">Welcome <span class="user-name">{{ profile }}</span>,</h4>
        </div>
        
         <!-- Donation Column -->
        <div class="col-12 col-md-4 orders-col">

            <!-- Donation History Heading -->
            <div class="row no-gutters mt-5 mb-3 content-alignment">
                <div class="col-10 products-profile-title">
                    <h2 class="text-center font-weight-bold">Donation History</h2>
                </div>
            </div>
            
            <!-- Donation History -->
            <div class="row no-gutters text-center content-alignment">

                <div class="col-10 order-list-titles">
                    <div class="row no-gutters">

                        <!-- Orders History Info Titles -->
                        <div class="col-4 my-auto">
                            <h3>Donation Number</h3>
                        </div>
                        <div class="col-4 my-auto">
                            <h3>Date</h3>
                        </div>
                        <div class="col-4 my-auto">
                            <h3>Donation Total</h3>
                        </div>
                    </div>
                </div>

                <div class="col-10 order-list">
                    <div class="row no-gutters">

                        <!-- Donation history card -->
                        <div class="col-12">
                            {% if orders %}
                                {% for order in orders %}
                                    <div class="col-12 mt-5">
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}" aria-label="Past order {{ order.order_number|truncatechars:6 }}">
                                            <div class="row no-gutters">
                                                    <!-- Order number -->
                                                    <div class="col-4 my-auto">
                                                        {{ order.order_number|truncatechars:6 }}
                                                    </div>

                                                    <!-- Order date -->
                                                    <div class="col-4 my-auto">
                                                        {{ order.date }}
                                                    </div>

                                                    <!-- Order Grand total -->
                                                    <div class="col-4 my-auto">
                                                        $ {{ order.grand_total }}
                                                    </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h2 class="font-weight-bold text-center mt-5">No past Donations</h2>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <!-- Horizontal Rule -->
        <div class="col-12 d-md-none">
            <hr>
        </div>

        <!-- Profile form -->
        <div class="col-12 col-md-8 profile-form-wrapper">
            <div class="row no-gutters mt-5 mb-1 content-alignment">
                <div class="col-10 form-title">
                    <h2 class="text-center font-weight-bold">Profile Informations</h2>
                </div>
            </div>

            <div class="row no-gutters content-alignment">
                <div class="col-10">

                    <form action="{% url 'profile' %}" method="POST" id="profile-form">
                        {% csrf_token %}

                        <fieldset class="mb-5">
                                {{ profileForm|crispy }}
                        </fieldset>

                        <div class="submit-button text-right my-5 mb-2">
                            <button id="submit-button" class="btn btn-danger btn-shadow rounded-0">
                                <span class="font-weight-bold">Update Profile</span>
                                <span class="icon">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
        
        <!-- Sponsorship -->
        <div class="col-12">
            <hr>
            <div class="row no-gutters content-alignment">

                <!-- Display any sponsorship that user currently has -->
                {% if sponsor %}
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold">Sponsorship</h2>
                    </div>
                    <div class="col-12 col-md-8 my-3 sponsor-card">
                        <!-- Sponsorship details -->
                        <div class="row no-gutters sponsor-details">
                            <div class="col-12 col-lg-5">
                                <p class="my-1 ml-1"><strong>Sponsorship:</strong> {{ sponsor.subscription.plan.product }}</p>
                                <p class="my-1 ml-1"><strong>Sponsorship id:</strong> {{ sponsor.subscription.id }}</p>
                                <p class="my-1 ml-1"><strong>Sponsor:</strong> {{ sponsor.full_name }}</p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <p class="my-1 ml-1"><strong>Email:</strong> {{ sponsor.email }}</p>
                                <p class="my-1 ml-1"><strong>Country:</strong> {{ sponsor.country.name }}</p>
                                <p class="my-1 ml-1"><strong>Price:</strong> ${{ sponsor.grand_total }}/month</p>
                            </div>

                            <!-- Remove sponsorship button and modal -->
                            <div class="col-12 col-lg-3 my-auto">
                                <button class="ml-1 btn btn-danger btn-sm btn-shadow finish-sponsor-btn">Finish Sponsorship</button>
                            </div>
                        </div>

                        <!-- Remove sponsorship Modal (from W3Schools) -->
                        <div id="modal_finish-sponsor" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <span class="closeBtn close-modal text-right">&times;</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <p class="text-center">Yor are going to Finish <span class="font-weight-bold">{{ sponsor.subscription.plan.product }}</span></p>
                                        <p class="text-center">Are you sure?</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <a class="closeBtn btn btn-lg btn-danger btn-shadow btn-sm" aria-label="Close finish sponsorship modal">Cancel</a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="btn btn-lg btn-danger btn-shadow btn-sm" href="{% url 'finish_sponsorship' sponsor.customer %}" aria-label="Confirm finish sponsorship modal">Finish Sponsorship</a>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                {% else %}

                    <!-- 
                        Recover any sponsorship created before the user
                        create an account, if the user has not already an
                        sponsorship
                     -->
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold">Recover Sponsorship</h2>
                    </div>

                    <!-- Redeem sponsorship form -->
                    <div class="col-12 col-md-8 my-3 text-center content-alignment">
                        <form id="redeem-form" class="mt-5" action="{% url 'redeem_subscription' %}" method="POST">
                            {% csrf_token %}

                            <fieldset>
                                {{ redeem_form|crispy }}
                            </fieldset>

                            <fieldset>
                                <button class="btn btn-danger btn-sm btn-shadow mt-3">Recover</button>
                            </fieldset>

                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <!-- product management button (go to product management dashboard) -->
            <div class="row no-gutters my-5 text-center">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12">
                    <a  href="{% url 'product_management' %}" class="btn btn-danger btn-shadow rounded-0" aria-label="Go to product management page">
                        <span class="font-weight-bold">Product Management</span>
                        <span class="icon">
                            <i class="far fa-edit"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!-- Custom Js -->
    {% block postloadjs %}
        {{ block.super }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'profiles/js/profile.js' %}"></script>
    {% endblock %}
{% endblock %}
