{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="row no-gutters mt-5 profile-content">
        
        <!-- Page Title -->
        <div class="col-12 text-center profile-title">
            <h1 class="font-weight-bold">My Profile</h1>
        </div>
        
        <!-- Horizontal rule -->
        <div class="col-12">
            <hr>
        </div>

        <!-- Profile User Name -->
        <div class="col-12 text-center">
            <h4 class="font-weight-bold">Welcome <span class="user-name">{{ profile }}</span>,</h4>
        </div>
        
         <!-- Orders Column -->
        <div class="col-12 col-md-4 orders-col">

            <!-- Orders History Heading -->
            <div class="row no-gutters mt-5 mb-3 content-alignment">
                <div class="col-10 products-profile-title">
                    <h2 class="text-center font-weight-bold">Orders History</h2>
                </div>
            </div>
            
            <!-- Orders History -->
            <div class="row no-gutters text-center content-alignment">

                <div class="col-10 order-list-titles">
                    <div class="row no-gutters">

                        <!-- Orders History Info Titles -->
                        <div class="col-4 my-auto">
                            <h3>Donation Number</h3>
                        </div>
                        <div class="col-4 my-auto">
                            <h3>Date</h3>
                        </div>
                        <div class="col-4 my-auto">
                            <h3>Donation Total</h3>
                        </div>
                    </div>
                </div>

                <div class="col-10 order-list">
                    <div class="row no-gutters">

                        <!-- Order history card -->
                        <div class="col-12">

                            {% for order in orders %}
                                <div class="col-12 mt-5">
                                    <div class="row no-gutters">

                                        <!-- Order number -->
                                        <div class="col-4 my-auto">
                                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </div>

                                        <!-- Order date -->
                                        <div class="col-4 my-auto">
                                            {{ order.date }}
                                        </div>

                                        <!-- Order Grand total -->
                                        <div class="col-4 my-auto">
                                            $ {{ order.grand_total }}
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <!-- Horizontal Rule -->
        <div class="col-12 d-md-none">
            <hr>
        </div>

        <!-- Profile form -->
        <div class="col-12 col-md-8 profile-form-wrapper">
            <div class="row no-gutters mt-5 mb-1 content-alignment">
                <div class="col-10 form-title">
                    <h2 class="text-center font-weight-bold">Profile Informations</h2>
                </div>
            </div>

            <div class="row no-gutters content-alignment">
                <div class="col-10">

                    <form action="" method="POST" id="profile-form">
                        {% csrf_token %}

                        <fieldset class="mb-5">
                                {{ profileForm|crispy }}
                        </fieldset>

                        <div class="submit-button text-right my-5 mb-2">
                            <button id="submit-button" class="btn btn-danger btn-shadow rounded-0">
                                <span class="font-weight-bold">Update Profile</span>
                                <span class="icon">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <!-- product management button (go to product management dashboard) -->
            <div class="row no-gutters my-5 text-center">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12">
                    <a  href="{% url 'product_management' %}" class="btn btn-danger btn-shadow rounded-0">
                        <span class="font-weight-bold">Product Management</span>
                        <span class="icon">
                            <i class="far fa-edit"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <!-- Custom Js -->
    {% block postloadjs %}
        {{ block.super }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'profiles/js/profile.js' %}"></script>
    {% endblock %}
{% endblock %}
