.profile-content {
    margin-bottom: 1rem;
}

.profile-title {
    font-size: 2em;
}

.user-name {
    color: #e72b37;
}

.textinput {
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.orders-col {
    border-right: 2px solid #e72b37;
}

.order-list-titles {
    border-bottom: 1px solid #e72b37;
}

.order-list {
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Media Queries */

@media (min-width: 1440px) {
    .order-list {
        min-height: 20vh;
        max-height: 20vh;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .order-list {
        min-height: 30vh;
        max-height: 30vh;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .orders-col {
        border: 0;
    }
}