.profile-content {
    margin-bottom: 1rem;
}

.profile-title {
    font-size: 2em;
}

.user-name {
    color: #e72b37;
}

.textinput {
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.orders-col {
    border-right: 2px solid #e72b37;
}

.order-list-titles {
    border-bottom: 1px solid #e72b37;
}

.order-list {
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product-management-title h2 {
    font-size: 1.5em;
}

.img-wrapper {
    background-color: #fff;
}

.product-mg-img img {
    height: 20vh;
    margin: 1rem 0;
}

.edit-product-btn a {
    color: #007168;
    text-decoration: none;
}

.remove-product-btn a {
    color: red;
    text-decoration: none;
}

.edit-product-btn a:hover,
.remove-product-btn a:hover {
    font-weight: 700;
}

.products-list {
    max-height: 90vh;
    min-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.products-mg-list {
    border-right: 2px solid #e72b37;
}

.buttons-col {
    background-color: #fff;
}

.search-btn {
    background-color: #e72b37;
}

/* Media Queries */

@media (min-width: 1440px) {
    .order-list {
        min-height: 20vh;
        max-height: 20vh;
    }
    .products-list {
        max-height: 50vh;
        min-height: 50vh;
    }
    .product-mg-img img {
        height: 10vh;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .order-list {
        min-height: 30vh;
        max-height: 30vh;
    }
    .products-list {
        max-height: 50vh;
        min-height: 50vh;
    }
    .product-mg-img img {
        height: 10vh;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .orders-col,
    .products-mg-list {
        border: 0;
    }
    .sort-input {
        margin-bottom: 1rem;
    }
    .categories-dropdown {
        margin-bottom: 1rem;
    }
    .product-card {
        border: 1px solid #e72b37
    }
    .products-list {
        max-height: 60vh;
        min-height: 60vh;
    }
}