/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind:wght@300;400;500;600;700&display=swap');

/* Bulma framework */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html {
    height: 100%;
    background-color: #f4f5f7;
}

header {
    padding: 0 !important;
}

.nav-top {
    background-color: #fff;
}

.list-inline-item:hover {
    font-size: 1.04em;
}

.nav-bottom {
    background-color: #e72b37;
}

body {
    font-family: 'Hind', sans-serif;
    background-color: #f4f5f7;
    height: 100%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn {
    border-radius: 0 !important;
}

.content-wrapper {
    min-height: calc(100vh - 150px);
    overflow: hidden;
}

.content-alignment {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
}

.btn-shadow {
    box-shadow: 5px 5px #000;
}

.sm-btn-shadow-r {
    box-shadow: 2px 2px #000;
}

.sm-btn-shadow-l {
    box-shadow: -2px 2px #000;
}

.btn-shadow:hover {
    box-shadow: 2px 2px #000;
}

.sm-btn-shadow-r:hover {
    box-shadow: 1px 1px #000;
}

.sm-btn-shadow-l:hover {
    box-shadow: -1px 1px #000;
}

.search-btn {
    z-index: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-img {
    height: 7vh;
    float: left;
}

.logo-font {
    text-transform: uppercase;
    font-size: 1.3em;
}

.main-logo-link {
    width: fit-content;
}

.text-red {
    color: #e72b37 !important;
}

footer {
    background-color: #e72b37;
}

footer .col-lg-2 {
    padding-left: 2rem !important;
}

footer .col-lg-2 h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1.5rem;
    color: #fff;
}

footer .col-lg-2 a {
    text-decoration: none;
    color: #fff;
}

footer .col-lg-2 a:hover {
    font-weight: 800;
    text-decoration: underline;
}

.social-link {
    font-size: 5em;
    margin-top: 1rem;
}

.social-link i {
    text-decoration: none;
    color: #fff;
    margin: 0 2rem;
}

.social-link i:hover {
    font-size: 1.1em;
}

.social-link a:hover {
    text-decoration: none;
}

.copyright {
    color: #fff;
}

/* -------------------------------- Media Queries */

@media (min-width: 1440px) {
    .logo-img {
        height: 4vh;
    }

    .mobile-nav, .mobile-nav > * {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .logo-img {
        height: 6vh;
    }
    .mobile-nav, .mobile-nav > * {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo-img {
        height: 6vh;
    }

    .logo-font {
        text-transform: uppercase;
        font-size: 1.3em;
        text-align: left;
        margin-right: .5rem;
    }

    .main-logo-link {
        margin-left: 18rem;
    }

    .mobile-nav, .mobile-nav > * {
        display: none;
    }

    footer .col-md-6 {
        padding-left: 4rem;
    }
    
    footer .col-md-6 h3 {
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 1.5rem;
        color: #fff;
    }
    
    footer .col-md-6 a {
        text-decoration: none;
        color: #fff;
    }
    
    footer .col-md-6 a:hover {
        font-weight: 800;
        text-decoration: underline;
    }
    
    .social-link {
        font-size: 5em;
        margin-top: 1rem;
    }
    
    .social-link i {
        margin: 0 2rem;
    }
    
    .social-link i:hover {
        font-size: 1.1em;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo-img {
        height: 6vh;
    }

    .logo-font {
        text-transform: uppercase;
        font-size: .7em;
        font-weight: bold;
    }

    .main-logo-link {
        text-align: left;
    }

    .mobile-nav {
        background-color: #ec525c;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1000;
    }

    .mobile-nav > .menu {
        margin: 10rem 0;
        text-align: center;
        font-size: 2em;
    }

    .mobile-nav > .menu h1,
    .mobile-nav > .menu .mobile-cart-menu {
        color: #fff !important;
        font-weight: 600;
    }

    .mobile-nav > .close p {
        margin: .5rem;
    }

    .mobile-nav, .mobile-nav > * {
        display: none;
    }

    .social-link {
        font-size: 3em;
    }

    footer .col-12 {
        padding-left: 4rem;
    }
    
    footer .col-12 h3 {
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 1.5rem;
        color: #fff;
    }
    
    footer .col-12 a {
        text-decoration: none;
        color: #fff;
    }
}