/* ----------------------- Products page */
/* Page's Cover Picture */
.hero-image {
    background: url("/media/products/products-cover.jpg") no-repeat center center;
    height: 200px;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}

.hero-text h1 {
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #e72b37;
    font-weight: 700;
}


/* Categories Sidebar */
.categories-col {
    border-right: 2px solid #e72b37;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

.categories-col h2 {
    font-size: 1.8em;
}

.categories-list a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: #000;
    width: 50%;
    overflow: hidden;
}

.categories-list a:hover {
    font-weight: 600;
    color: #e72b37;
}

/* Products section */
.products-col {
    margin-left: 13.5rem;
}

.products-col h2 {
    font-size: 2em;
}

.product-wrapper {
    background-color: #fff;
    margin: 0 0.9rem;
}

.product-picture img {
    height: 20vh;
}

.second-heart {
    display: none;
}

.donate-button a:hover .second-heart {
    display: inline;
}

.donate-button a:hover .first-heart {
    display: none;
}

.loading {
    display: none;
}

.category-item {
    z-index: 999;
}

.categories-dropdown a {
    text-decoration: none;
    color: #000;
}

/* ----------------------- Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-body p {
    font-size: 1.3em;
  }
  
  .edit-product-btn a {
    color: #007168;
    text-decoration: none;
  }
  
  .remove-product-btn a {
    color: red;
    text-decoration: none;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 0 !important;
  }
  
  /* The Close Button */
  .close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .new_product_title h2 {
    font-size: 1.5em;
  }

/* ----------------------- Media Queries */
@media (min-width: 1440px) {
    .products-col {
        margin-left: 14.5rem;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .products-col {
        margin-left: 10.9rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero-text h1 {
        top: 50%;
        left: 50%;
        font-size: 2.5em;
    }
    .products-col {
        margin-left: 0;
    }
    .modal-content {
        width: 80%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .hero-text h1 {
        top: 50%;
        left: 50%;
        font-size: 1.5em;
    }
    .products-col {
        margin-left: 0;
    }
    .product-wrapper {
        margin: 0 0.5rem;
    }
    .parcels-options {
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .parcel-cover h1{
        font-size: 1.4em;
    }
    .modal-content {
        width: 100%;
      }
}
