{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="row no-gutters">
        <div class="col-12">
            <h1 class="font-weight-bold text-center auth-title">{% trans "Set Password" %}</h1>
        </div>
    </div>

    <hr>

    <div class="row no-gutters content-alignment">
        <div class="col-12">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-danger btn-shadow" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}
