.checkout-title {
    font-size: 2em;
}

/*-------------------------------- Products Column  */
.products-col {
    border-right: 2px solid #e72b37;
}

.products-cart-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
}

.product-cart-wrapper {
    border: 1px solid #e72b37;
    height: 13vh;
}

.products-checkout-title,
.form-title {
    border-bottom: 2px solid #e72b37;
}

.products-checkout-title h2,
.form-title h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.product-cart-img {
    border-right: 1px solid #e72b37;
    background-color: #fff;
}

.product-cart-img img {
    height: 12.5vh;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/*-------------------------------- Form Column  */

.form-control {
    border-radius: 0;
}

/*-------------------------------- Media Queries  */

@media (min-width: 1440px) {
    .checkout-title {
        margin-top: 5rem;
    }
    .products-cart-list {
        max-height: 65vh;
    }
    .product-cart-wrapper {
        border: 1px solid #e72b37;
        height: 7vh;
    }
    .product-cart-img img {
        height: 6.5vh;
    }
  }

  @media (min-width: 1024px) and (max-width: 1160px) {
    .checkout-title {
        margin-top: 2rem;
    }
    .products-cart-list {
        max-height: 50vh;
    }
    .product-cart-wrapper {
        border: 1px solid #e72b37;
        height: 7vh;
    }
    .product-cart-img img {
        height: 6.5vh;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .products-cart-list {
        max-height: 75vh;
    }
    .product-cart-wrapper {
        border: 1px solid #e72b37;
        height: 10vh;
    }
    .product-cart-img{
        height: 9.5vh;
    }
    .product-cart-img img {
        height: 9.5vh;
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .products-cart-list {
        max-height: 50vh;
    }
    .product-cart-wrapper {
        border: 1px solid #e72b37;
        height: 13vh;
    }
    .product-cart-img{
        height: 12.5vh;
    }
    .product-cart-img img {
        height: 12.5vh;
    }
}
