{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/finish_sponsorship.css' %}">
{% endblock %}

{% block content %}
    {% if subs_query %}
    {% else %}
            <section>

                <!-- Title and Description -->
                <div class="row no-gutters text-center content-alignment title-desc">

                    <!-- Title -->
                    <div class="col-12 mt-5">
                        <h1 class="font-weight-bold sponsor-title">Finish Sponsorship</h1>
                    </div>

                    <!-- Description -->
                    <div class="col-12 col-md-8 my-3">
                        <p></p>
                    </div>

                </div>

            </section>

            <hr>

            <section>
                    <!-- Sponsorship Form -->
                    <div class="row no-gutters content-alignment my-5">
                        <div class="col-12 col-md-8">

                            <!-- Form -->
                            <form id="sponsor-form" action="{% url 'finish_sponsorship_form' %}" method="POST">
                                {% csrf_token %}

                                <!-- Sponsorship Details Fields -->
                                {{ form.subscription_id | as_crispy_field }}
                                {{ form.full_name | as_crispy_field }}
                                {{ form.email | as_crispy_field }}
                                {{ form.street_address1 | as_crispy_field }}
                                {{ form.street_address2 | as_crispy_field }}
                                {{ form.town_or_city | as_crispy_field }}
                                {{ form.country | as_crispy_field }}

                                <!-- Search sponsorship Button -->
                                <div class="row no-gutters my-5">
                                    <div class="col-12 text-center">
                                        <button id="submit-button" class="btn btn-danger btn-shadow">Search <i class="fas fa-search"></i></button>
                                    </div>
                                </div>

                            </form>
            
                        </div>
                    </div>
            </section>
    {% endif %}

        <section>
            {% if subs_query %}
                <div class="row no-gutters content-alignment">
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold sponsor-title mt-5">Sponsorship</h2>
                        <hr>
                    </div>

                    <!-- Sponsorship card -->
                    <div class="col-12 col-md-8 my-3 sponsor-card">

                        <!-- Sponsorship details -->
                        <div class="row no-gutters sponsor-details">
                            <div class="col-12 col-lg-5">
                                <p class="my-1 ml-1"><strong>Sponsorship:</strong> {{ subscription.plan.product }}</p>
                                <p class="my-1 ml-1"><strong>Sponsorship id:</strong> {{ subscription.id }}</p>
                                <p class="my-1 ml-1"><strong>Sponsor:</strong> {{ sponsor.full_name }}</p>
                            </div>
                            <div class="col-12 col-lg-4">
                                <p class="my-1 ml-1"><strong>Email:</strong> {{ sponsor.email }}</p>
                                <p class="my-1 ml-1"><strong>Country:</strong> {{ sponsor.country.name }}</p>
                                <p class="my-1 ml-1"><strong>Price:</strong> ${{ sponsor.grand_total }}/month</p>
                            </div>

                            <!-- Remove sponsorship button and modal -->
                            <div class="col-12 col-lg-3 my-auto">
                                <button class="ml-1 btn btn-danger btn-sm btn-shadow finish-sponsor-btn">Finish Sponsorship</button>
                            </div>
                        </div>

                        <!-- Remove sponsorship Modal (from W3Schools) -->
                        <div id="modal_finish-sponsor" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <span class="closeBtn close-modal text-right">&times;</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <p class="text-center">Yor are going to Finish <span class="font-weight-bold">{{ subscription.plan.product }}</span></p>
                                        <p class="text-center">Are you sure?</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <a class="closeBtn btn btn-lg btn-danger btn-shadow btn-sm" >Cancel</a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="btn btn-lg btn-danger btn-shadow btn-sm" href="{% url 'finish_sponsorship' sponsor.customer %}">Finish Sponsorship</a>
                                    </div>
                                </div>
                            </div>
                          
                        </div>

                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12 back-to-form">
                        <a class="text-danger font-weight-bold" href="{% url 'finish_sponsorship_form' %}">&#8592 Back to form</a>
                    </div>
                </div>
            {% endif %}
        </section>

    <!-- Custom Js -->
    {% block postloadjs %}
        {{ block.super }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'products/js/finish_sponsorship.js' %}"></script>
    {% endblock %}
{% endblock %}
