{% extends 'base.html' %}
{% load static %}

<!-- Custom css -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
    
    <!-- Cover Picture and Title -->
    <section>
        
        <div class="row no-gutters hero-image">
            <div class="col-12 hero-text">
                {% if current_category %}
                    <h1>{{ current_category }}</h1>
                {% elif most_n %}
                    <h1>Most-Needed Items</h1>
                {% else %}
                    <h1>Products</h1>
                {% endif %}
            </div>
        </div>

    </section>
    
    <!-- Categories List and Products List -->
    <section>
        <div class="row no-gutters mt-5">
            
            <!-- Categories List Sidebar -->
            <div id="sidebar" class="col-2 d-none d-lg-block categories-col">
                <div class="row no-gutters mr-1">
                    
                    <!-- Sidebar Title -->
                    <div class="col-12 categories-title text-right">
                        <h2 class="font-weight-bold">Categories</h2>
                    </div>
                    
                    <!-- Sidebar List -->
                    <div class="col-12 categories-list text-right">
                        <ul>
                                <li>
                                    <a href="{% url 'products' %}">
                                        <p class="mr-2 my-3">Browse All</p>
                                    </a>
                                </li>
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'products' %}?category={{ category.name }}">
                                        <p class="mr-2 my-3">{{ category.friendly_name }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            
            <!-- Products List -->
            <div class="col-12 col-lg-10 products-col">
                
                <!-- Urgent Buttons -->
                <div class="row no-gutters my-5 d-none d-md-flex">

                    <!-- Most-Needed Items Button -->
                    <div class="col-2 text-center">
                        <a class="btn btn-danger btn-shadow" href="{% url 'products' %}?urgent=most_needed">
                            Most-Needed
                        </a>
                    </div>
                    
                    <!-- Family Parcels Button -->
                    <div class="col-2 text-center">
                        <a class="btn btn-danger btn-shadow" href="{% url 'parcels' %}">Family Parcels</a>
                    </div>
                    
                    <!-- Donate All Items Button -->
                    <div class="col-8 text-right">
                        <form action="{% url 'add_all_cart' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <input type="hidden" name="items_list" value="{{ all_items }}">
                            <input type="submit" class="btn btn-danger mr-2 btn-shadow" value="Donate All Items {% if total_price %}(${{total_price}}){% else %}($0.00){% endif %}">
                        </form>
                    </div>

                </div>

                <!-- Urgent Buttons SMALL SCREEN-->
                {% include 'products/includes/mobile-urgent-btn.html' %}
                
                <!-- Sort Options and Quantity of Products -->
                <div class="row no-gutters d-none d-lg-flex">
                    
                    <!-- Sort Options -->
                    <div class="col-6">
                        <select name="sort-lg" id="sort-lg" class="ml-5 sort">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                      </select>
                    </div>
                    
                    <!-- Quantity of Products -->
                    <div class="col-6">
                        <p class="text-right mr-3">

                            {% if search_term or current_category or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Browse All</a> | </span>
                            {% endif %}

                            {{ all_products_len }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}

                        </p>
                    </div>

                    <div class="col-12">
                        <hr>
                    </div>

                </div>

                <!-- Sort Options and Quantity of Products MEDIUM SCREEN -->
                {% include 'products/includes/medium-sort-product.html' %}

                <!-- Sort Options and Quantity of Products SMALL SCREEN -->
                {% include 'products/includes/mobile-sort-product.html' %}
                
                <!-- Infinite Loading from https://simpleisbetterthancomplex.com/tutorial/2017/03/13/how-to-create-infinite-scroll-with-django.html -->
                <!-- Product Card -->
                <div class="row no-gutters products-list infinite-container content-alignment">

                    {% for product in products %}
                        <div class="col-4 col-md-3 my-3 product-wrapper infinite-item">

                            <!-- Product Picture -->
                            <div class="row no-gutters product-picture mt-3">
                                <div class="col-12 content-alignment">
                                    <img src="{{MEDIA_URL}}products/items/{{ product.image }}" alt="{{ product.name }}" loading="lazy">
                                </div>
                            </div>
                            
                            <!-- Product Name -->
                            <div class="row no-gutters product-name mt-2">
                                <div class="col-12 text-center">
                                    <h3 class="font-weight-bold">{{ product.name }}</h3>
                                </div>
                            </div>
                            
                            <!-- Product Price -->
                            <div class="row no-gutters product-price my-1">
                                <div class="col-12 text-center">
                                    <p>$ {{ product.price }}</p>
                                </div>
                            </div>
                            
                            <!-- Donate Button -->
                            <div class="row no-gutters donate-button mb-3">
                                <div class="col-12 text-center">
                                    <a class="btn btn-outline-danger" href="{% url 'product_details' product.id %}">Donate <span class="first-heart"><i class="far fa-heart"></span></i><span class="second-heart"><i class="fas fa-heart"></i></span></a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                </div>

                <!-- Infinite Loading Trigger -->
                {% if products.has_next %}
                    <a class="infinite-more-link" href="{% url 'products' %}?page={{ products.next_page_number }}">More</a>
                {% endif %}

                <!-- Infinite Loading transition message -->
                <div class="loading row no-gutters">
                    <div class="col-12 text-center">
                        <p>Loading...</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    
    <!-- Custom Js -->
    {% block postloadjs %}
        {{ block.super }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'products/js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'products/js/infinite.min.js' %}"></script>
        <script src="{% static 'products/js/products.js' %}"></script>
    {% endblock %}
{% endblock %}
